.site-footer {
    padding: 4em 0;
    background-color: #c9ccd4;
}

.site-footer p,
.site-footer .nav-link {
    color: gray !important;
}

.site-footer ul li {
    margin-bottom: 10px;
}

.site-footer a:hover {
    color: #43ab92 !important;
}

.site-footer a {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
}

.site-footer .footer-heading {
    font-size: 16px;
    color: #000;
}
