body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    background-color: white;
}

a {
    color: #009671;
}

a:hover,
a:focus {
    color: #7EE068;
}

h2 {
    font-weight: bold;
    text-transform: uppercase;
    color: #009671;
}


h3 {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 20px;
}

.btn.btn-primary {
    background-image: linear-gradient(#7EE068, #009671);
    border-color: #009671;
}

.form-check-input:checked {
    background-color: #009671;
    border-color: #009671;
}

hr {
    margin: 0;
}

.wow {
    visibility: hidden;
    animation-iteration-count: 1;
    animation-duration: 3s;
}

#on-top-button {
    width: 48px;
    height: 48px;
    text-align: center;
    color: #009671;
    background-color: white;
    border-radius: 50%;
    position: fixed;
    left: auto;
    right: 27px;
    bottom: 50px;
    z-index: 1001;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    display: none;
}

#on-top-button i {
    margin-top: 15px;
    font-size: 20px;
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image > img {
    width: 100%;
}

.section {
    font-size: .8rem;
    padding: 3rem 0;
}

.section.color {
    color: white;
    background-position-x: center;
    background-position-y: top;
    background-size: 100% 100%;
    padding: 40px 0;
}

.section.color h2 {
    color: white;
}

.cir-image {
    border-radius: 50%;
    border: 5px solid #009671;
    overflow: hidden;
    padding: 0;
    box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.3);
}

.section h2 {
    text-align: center;
    margin-bottom: 35px;
}

.section.white {
    padding-top: 0 !important;
}

.section.icons {
    padding-bottom: 0 !important;
}

.section.color .row > div {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.navbar-toggler {
    border: 1px solid white;
    color: black;
}

.navbar-toggler i {
    color: white;
    margin: 3px;
}

.nav-item.active {
    border-bottom: 2px solid white;
}

.nav-link {
    cursor: pointer;
    color: white !important;
    font-size: 15px;
    /*text-shadow: 1px 1px 1px #000, 1px 1px 2px #000;*/
}

.dropdown-item {
    font-size: 13px;
}

.icon > img {
    width: 50%;
}

h2.accordion-header {
    margin-bottom: 0;
}

/*.owl-dots {*/
/*    text-align: center;*/
/*}*/

/*.owl-dots .owl-dot {*/
/*    width: 20px;*/
/*    height: 20px;*/
/*    border-radius: 50%;*/
/*    margin-left: 10px;*/
/*    border: 1px solid gray !important;*/
/*}*/

/*.owl-dots .owl-dot:first-child {*/
/*    margin: 0;*/
/*}*/

/*.owl-dots .owl-dot.active {*/
/*    background-color: gray;*/
/*}*/

.accordion-button:not(.collapsed) {
    background-color: #d8f5d1;
    color: #009671;
}

.accordion-button:focus,
input:focus {
    border-color: #009671 !important;
    box-shadow: 0 0 5px 1px rgba(0, 150, 113, 0.8) !important;
}

#map {
    border: 1px solid #009671;
    box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.3);
}

.contacts table {
    border: 0;
    font-size: 1.3em;
}

.contacts table td {
    padding: 5px;
    vertical-align: top;
}

@media (max-width: 1300px)  {
    .section.color {
        background-size: 120% 100%;
    }

    .section.color {
        padding-top: 0;
    }

    .section.color h2 {
        margin-top: 150px;
    }

    .section.color p {
        margin-bottom: 50px;
    }
}

@media (max-width: 1000px)  {
    .section.color h2 {
        margin-top: 180px;
    }

    .section.color p {
        margin-bottom: 80px;
    }
}

@media (max-width: 992px)  {
    .nav-link {
        color: #009671 !important;
        font-weight: bold;
        text-shadow: none;
    }
}

@media (max-width: 768px)  {
    /*.owl-carousel .owl-nav {*/
    /*    display: none;*/
    /*}*/

    .section.color h2 {
        margin-top: 0;
    }

    .section.color p {
        margin-bottom: 100px;
    }

    .portfolio-item {
        display: table;
    }
}

@media (max-width: 500px)  {
    .section.contacts table {
        background: none;
    }

    .section.contacts td.icon {
        width: 100px;
        padding-left: 20px;
    }

    .section.contacts td .line,
    .section.contacts td .dot {
        display: none;
    }
}
