#main-collage {
    width: 100%;
    height: 600px;
    background: url("../images/v1/waves.jpg") left top no-repeat;
}

#main-image {
    width: 600px;
    right: 100px;
    top: 120px;
    position: absolute;
}

#main-nav {
    position: absolute;
    z-index: 999;
}

#main-nav.top-fix {
    width: 100%;
    height: 51px;
    background: url("../images/v1/waves.jpg") left top no-repeat;
    position: fixed;
    top: -51px;
    z-index: 999;
    border-bottom: 1px solid white;
}

#main-logo {
    position: absolute;
    top: 80px;
    left: 50px;
    /*display: flex;*/
    /*align-items: center;*/
}

#main-logo img.logo {
    width: 350px;
    /*-webkit-filter: drop-shadow( 0px 0px 7px #FFFFFF);*/
    /*filter: drop-shadow( 0rem 0px 7px #FFFFFF);*/
}

#main-logo h1 {
    color: white;
    /*margin-top: 15px;*/
    font-size: 1.4em;
    padding-left: 100px;
    text-transform: uppercase;
    font-weight: bold;
}

#main-logo .btn.btn-primary {
    margin-left: 100px;
    margin-top: 10px;
}

.section.color1 {
    background-image: url("../images/v1/color_section1.jpg");
}

.section.color2 {
    padding-top: 70px;
    padding-bottom: 70px;
    background-image: url("../images/v1/color_section2.jpg");
}

@media (max-width: 1300px)  {
    #main-image {
        width: 550px;
        right: 15px;
    }
}

@media (max-width: 992px)  {
    #main-nav-bar {
        background: url("../images/white_tansp_bg.png") !important;
        padding: 20px;
        border: 1px solid white;
        border-radius: 15px;
        z-index: 999;
    }
}

@media (max-width: 750px)  {
    #main-logo img.logo {
        width: 200px;
    }
}

@media (max-width: 680px)  {
    #main-logo {
        top: 10px;
        left: auto;
        right: 10px;
    }

    #main-logo img.logo {
        width: 100px;
    }
}

@media (max-width: 550px)  {
    #main-collage {
        height: 550px;
    }

    #main-image {
        width: 95%;
        top: 60px;
        left: 50%;
        transform: translateX(-50%);
    }
}
