#skew-collage {
    width: 100%;
    top: 50px;
    position: absolute;
}

#skew-collage .cell {
    position: absolute;
    display: none;
    z-index: 990;
}

#skew-collage .logo {
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 995;
    opacity: 0;
}

#skew-nav {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    background-color: #3ab86d;
    border-bottom: 1px solid white;
}

.section.color3 {
    padding-top: 30px;
    padding-bottom: 30px;
    background-image: url("../images/v2/color_section3.jpg");
}

.section.color3 a {
    color: #57ef95;
}

.rounded-plate {
    padding: 30px;
    background-color: whitesmoke;
    border-radius: 20px;
    box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.3);
}

@media (max-width: 575px)  {
    #skew-collage .cell2,
    #skew-collage .cell3 {
        display: none !important;
    }
}
