body {
    font-family: "DM Sans",
    -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif !important;
    padding-top: 100px;
}

h1 {
    text-transform: uppercase;
    color: #364d59;
}

h1.small {
    font-size: 1.1rem;
}

p.small {
    font-size: 1rem;
    margin-bottom: 25px !important;
}

b {
    color: #009671;
}

.btn-primary {
    background-image: linear-gradient(#7EE068, #009671);
    border-color: #009671;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #358673 !important;
}

.form-check-input:checked {
    background-color: #009671;
    border-color: #009671;
}

.btn-primary:disabled {
    background-color: gray;
    border: 1px solid darkgrey;
}

#loader {
    width: 100%;
    height: 100%;
    background: none repeat scroll 0 0 #ffffff;
    opacity: 0.6;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999;
}

#loader > img {
    width: 50px;
}

#main-nav {
    width: 100%;
    /*height: 51px;*/
    position: fixed;
    top: 0;
    z-index: 1000;
    border-bottom: 1px solid white;
}

#on-top-button {
    width: 48px;
    height: 48px;
    text-align: center;
    color: gray;
    background-color: white;
    border-radius: 50%;
    position: fixed;
    left: auto;
    right: 27px;
    bottom: 50px;
    z-index: 1001;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    display: none;
}

#on-top-button i {
    margin-top: 15px;
    font-size: 20px;
}

.navbar {
    height: 100px;
}

.navbar li {
    color: #000;
    font-size: 1rem;
    font-weight: 500;
    margin: 0 10px;
}

.navbar .nav-link.active {
    color: #009671;
}

.navbar-toggler:focus {
    border: 1px solid #009671 !important;
    box-shadow: none !important;
}

.navbar-collapse {
    z-index: 999;
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: #009671;
}

#main-logo {
    width: 150px;
}

#main-logo-small {
    width: 50px;
    display: none;
}

/*.carousel-item {*/
/*    background-size: cover;*/
/*    background-position: center;*/
/*}*/

/*.carousel-square {*/
/*    width: 400px;*/
/*    height: 400px;*/
/*    display: table;*/
/*    position: absolute;*/
/*    background: white;*/
/*    top: 50%;*/
/*    left: 5%;*/
/*    padding: 4rem;*/
/*    transform: translateY(-50%);*/
/*    z-index: 999;*/
/*}*/

/*.carousel-square.small {*/
/*    width: 350px;*/
/*    height: 10em;*/
/*    padding: 3rem;*/
/*}*/

section {
    background-color: lightgrey;
}

section.gray {
    background-size: cover !important;
}

section.gray.bg1 {
    background: url("../images/bg1_gray.jpg") no-repeat;
}

section.gray.bg2 {
    background: url("../images/bg2_gray.jpg") no-repeat;
}

section.gray.bg3 {
    background: url("../images/bg3_gray.jpg") no-repeat;
}

section.gray.bg4 {
    background: url("../images/bg4_gray.jpg") no-repeat;
}

section.gray.bg5 {
    background: url("../images/bg5_gray.jpg") no-repeat;
}

.align-items-stretch {
    -webkit-box-align: stretch !important;
    -ms-flex-align: stretch !important;
    align-items: stretch !important;
}

.box {
    padding: 4rem;
}

.box-offset {
    position: relative;
    z-index: 2;
    margin-right: -60px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.box-icons {
    background: #fff;
    padding: 50px 30px;
}

.box-icons h3 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
}

.box-icons .img-fluid {
    width: 120px;
}

.box-icons .logo {
    width: 200px;
}

h2 {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    color: #000;
    margin-bottom: 30px;
}

.gray h2,
.gray p {
    color: white;
}

a,
a.page-link {
    color: #009671;
    text-decoration: none;
}

.bg-white h2,
.bg-white p {
    color: black;
}

.offset-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/*.portfolio-image {*/
/*    border: 3px solid #358673;*/
/*}*/

/*.portfolio-image img {*/
/*    border: 10px solid white;*/
/*}*/

.news-block {
    cursor: pointer;
}

.news-block:hover {
    opacity: 0.7;
}

.news-entry-1 .news-entry-1-contents {
    background: #fff;
    padding: 20px;
}

.meta {
    color: #ccc;
    margin-bottom: 15px;
    display: block;
}

.news-entry-1 .news-entry-1-contents h2,
.news-entry-1 .news-entry-1-contents h2 > a {
    height: 65px;
    color: #000;
    text-transform: uppercase;
    font-size: 18px;
}

.news-entry-1 img {
    margin-bottom: 15px;
}

.more {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    position: relative;
    padding-right: 20px;
    color: #000;
}

.active>.page-link,
.page-link.active {
    background-color: #009671;
}

.site-footer {
    padding: 4em 0;
    background-color: #c9ccd4;
}

.site-footer p {
    color: gray;
}

.site-footer ul li {
    margin-bottom: 10px;
}

.site-footer a:hover {
    color: #009671;
}

.site-footer a {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
}

.site-footer .footer-heading {
    font-size: 16px;
    color: #000;
}

.small {
    font-size: 80%;
    font-weight: 400;
}

iframe {
    border: 2px solid #009671;
}

.partner-logo {
    display: flex;
    align-items: center;
    height: 110px;
}

.partner-logo img {
    width: 100%;
    height: auto;
}

@media (max-width: 1400px) {
    #main-logo {
        display: none;
    }

    #main-logo-small {
        display: block;
    }

    .navbar li {
        margin: 0 5px;
    }

    .box {
        padding: 2rem;
    }

    .box p {
        font-size: 0.8rem;
        line-height: 1rem;
    }
}

@media (max-width: 1200px) {
    .navbar li {
        font-size: 0.8rem;
    }
}

@media (max-width: 991px) {
    #main-logo {
        display: block;
    }

    #main-logo-small {
        display: none;
    }

    .navbar-nav {
        text-align: right;
        border: 1px solid lightgrey;
        border-radius: 0.3rem;
        -moz-border-radius: 0.3rem;
        background-color: white;
    }

    .navbar li {
        font-size: 1rem;
    }

    .dropdown-menu {
        margin: 0;
    }

    .box-offset {
        margin: 0;
    }

    .align-items-stretch .col-lg-4,
    .align-items-stretch .col-lg-8 {
        padding: 0 !important;
    }

    .align-items-stretch .row {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .offset-image {
        height: 400px;
    }

    .box {
        padding: 4rem;
    }

    .box p {
        font-size: 1rem;
        line-height: 1.5rem;
    }
}

/*@media (max-width: 500px) {*/
/*    .carousel-square {*/
/*        display: none;*/
/*    }*/
/*}*/
